<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>
    <Appenders>
        <File name="Simple"
              fileName="${log-path}/Memory_${date:yyyy-MM-dd HHmm}.log">
            <PatternLayout pattern="%d %p %c{1.} [%t] %m%n" />
        </File>
        <File name="CSV"
              fileName="${log-path}/Memory_${date:yyyy-MM-dd HHmm}_CSV.log">
            <PatternLayout pattern="%m%n" />
        </File>

    </Appenders>
    <Loggers>
        <Logger name="csv" level="all" additivity="false">
            <AppenderRef ref="CSV"/>
        </Logger>

        <Root level="all">
            <AppenderRef ref="Simple" />
        </Root>
    </Loggers>
</Configuration>